# Dependencies
node_modules
.npm

# Build artifacts
.next
dist
build
out

# Local environment
.env
.env.local

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore
docker-compose.yml

# Other
README.md
*.log
